<div class="row">

	<!-- Content -->
	<div class="col-xs-12">

		<!-- Product images-->
		<div class="row" ng-controller="ProductsController">
			<!-- Each product box -->
			<div class="col-xs-12">
				<h3>Recent Products</h3>
				<div class="image_box" ng-repeat="product in products | filter:filter_name | orderBy: '-createdAt' | limitTo: quantity">
					<img src="{{product.url}}" class="img-responsive img-rounded" width="300px" height="300px" alt="{{product.name}}">
					<h5 ng-bind="product.name"></h5>
					<p>( {{product.quantity}} left )</p>
				</div>
			</div>
			<!-- Products: show more -->
			<div class="row">
				<div class="col-xs-12 text-center">
					<a href="#/products">Show more</a>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-8 col-xs-offset-2 base-line ">
				</div>
			</div>
		</div>

		<!-- Recent Orders -->
		<div class="row" ng-controller="OrdersController">
			<div class="col-xs-12">
				<h4>Recent Orders</h4>
				<p ng-repeat="order in orders | filter:filter_name | orderBy: $index :reverse | limitTo: quantity">
					<span ng-bind="order.name"></span> purchased <span ng-bind="order.quantity"></span> <span ng-bind="order.product"></span>
				</p>
			</div>
			<div class="row">
				<div class="col-xs-12 text-center">
					<a href="#/orders">Show all orders</a>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-8 col-xs-offset-2 base-line ">
				</div>
			</div>
		</div>

		<!-- New Customers -->
		<div class="row" ng-controller="CustomersController">
			<div class="col-xs-12">
				<h4>New Customers</h4>
				<p ng-repeat="customer in customers | filter: filter_name | orderBy: $index :reverse | limitTo: quantity">
					<span ng-bind="customer.name"></span> joined the store on <span ng-bind="customer.date | date:'MM/dd/yyyy'">.
				</p>
			</div>
			<div class="row">
				<div class="col-xs-12 text-center">
					<a href="#/customers">Show all customers</a>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-8 col-xs-offset-2 base-line ">
				</div>
			</div>
		</div>

	</div>

</div>