<div ng-controller="OrdersController">
	<!-- Form to add order -->
	<div class="row">
		<div class="col-xs-12">
			<h4 class="text-primary">Add a new order</h4>
			<form class="col-xs-3">
				<div class="form-group">
					<!-- Customers drop-down -->
					<label for="customer">Customer Name:</label>
					<select class="form-control" id="customer" ng-model="newOrder.name" >
						<option ng-repeat="customer in customers | orderBy: 'name'">{{customer.name}}</option>
					</select>
				</div>
				<div class="form-group">
					<label for="quantity">Order: </label>
					<!-- Products drop-down -->
					<select class="form-control" id="product" ng-model="newOrder.product" >
						<option ng-repeat="product in products | orderBy: 'name' ">{{product.name}}</option>
					</select>
				</div>
				<div class="form-group">
					<!-- Quantity drop-down -->
					<input type="number" min="1" class="form-control" id="quantity" ng-model="newOrder.quantity">
				</div>
				<input class="btn btn-primary" type="submit" value="Order" ng-click="addorder()">
			</form>
		</div>
	</div>

	<!-- Filter box -->
	<div class="row">
		<div class="col-xs-3 col-xs-offset-10">
			<!-- Define the filter filter "filter_name" -->
			<input type="text" ng-model="filter_name" placeholder="Filter...">
		</div>
	</div>

	<!-- Table listing customers -->
	<div class="row">
		<div class="col-xs-12">
			<table class="table table-striped">
				<thead>
					<th>Customer Name</th>
					<th>Product</th>
					<th>Quantity</th>
					<th>Date</th>
				</thead>
				<tbody>
					<tr ng-repeat="order in orders | filter:filter_name | orderBy: $index">
						<td><span ng-bind="order.name"></span></td>
						<td><span ng-bind="order.product"></span></td>
						<td><span ng-bind="order.quantity"></span></td>
						<td><span ng-bind="order.date | date:'MM/dd/yyyy'"></span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</div>