@font-face {
	font-family: "BaronNeue";
	src: url('../fonts/BaronNeue.otf');
}
body{
	padding-top: 70px;
}
/* Navbar */
.navbar {
	font-weight: lighter;
	letter-spacing: 2px;
	font-size: 16px;
}
.navbar-brand{
	font-family: "BaronNeue";
	font-size: 30px;
	letter-spacing: 1px;
	padding-right: 5px;
}
.navbar-inverse .navbar-brand {
  color: #ffffff;
}
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover{
	color: #9d9d9d;
}

/* MISC */
.image_box{
	display: inline-block;
	width: 170px;
	min-height: 170px;
}
.margin-top{
	margin-top: 25px;
}
/* Forms */
.btn {
	font-family: "BaronNeue";
	font-size: 20px;
	letter-spacing: 1px;
    text-transform: uppercase;
    border: 0 none;
    border-radius:0;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
.btn-primary {
    background: #333333;
    color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #9d9d9d;
}
.btn-primary:active, .btn-primary.active {
    background: #9d9d9d;
    box-shadow: none;
}
.btn-primary[disabled]{
	background-color: #9d9d9d;
	border-color: #333333;
}